<div class="image-container" 
    [class.margin-width]="width == imageWidthValue.margin">
    <!-- [style.float]="alignment == alignmentValue.center ? ''
                : alignment == alignmentValue.right ? 'right'
                : 'left'"
        [style.margin]="alignment == alignmentValue.center ? 'auto' : 'unset'" -->
    <div
        [style.padding-top]="style?.padding?.top ? style?.padding?.top + 'px' : ''"
        [style.padding-bottom]="style?.padding?.bottom ? style?.padding?.bottom + 'px' : ''"
        [style.padding-left]="style?.padding?.left ? style?.padding?.left + 'px' : ''"
        [style.padding-right]="style?.padding?.right ? style?.padding?.right + 'px' : ''"
        [style.margin-top]="style?.margin?.top ? style?.margin?.top + 'px' : ''"
        [style.margin-bottom]="style?.margin?.bottom ? style?.margin?.bottom + 'px' : ''"
        [style.margin-left]="style?.margin?.left ? style?.margin?.left + 'px' : ''"
        [style.margin-right]="style?.margin?.right ? style?.margin?.right + 'px' : ''"
        [style.width]="getWidth()"
        [style.margin-left]="alignment == alignmentValue.right || alignment == alignmentValue.center ? 'auto' : 'unset'" 
        [style.margin-right]="alignment == alignmentValue.left || alignment == alignmentValue.center ? 'auto' : 'unset'" 
    >
        <img
            [src]="pageService.getImageMapResource(url)"
            [style.height]="style?.height ? style?.height + 'px' : ''"
            [style.border-radius]="style?.corner_radius ? style?.corner_radius + 'px' : ''"
            [style.object-fit]="style?.background_size ? style?.background_size : 'cover'"
        />
        <!-- <div style="clear: right"></div>     -->
    </div>

    <div *ngIf="isEditing" class="replace-button">
        <codeless-replace-image-button (didStartUpload)="isUploadingImage = true;" (didUploadImage)="changeImage($event)"></codeless-replace-image-button>
    </div>

    <codeless-loading-view *ngIf="isUploadingImage"></codeless-loading-view>
</div>
