<div (click)="didAddBlock()" class="add-block-divider" style="position: relative; width: 100%; height: 12px; margin-top: -24px; background: transparent; transform: translateY(12px); z-index: 9999;">
    <div class="add-block-divider-inner" style="position: relative; width: 100%; height: 2px; background: #7B61FF; margin-top: 12px;"></div>
    <div class="add-block-divider-inner" style="cursor: pointer; width: 24px; height: 24px; background: #7B61FF; border-radius: 2px; position: absolute; left: calc(50% - 12px); top: -11px; z-index: 999999;">
        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.875 6H10.125" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 1.875V10.125" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>                                            
    </div>
</div>