.dropdown-container {
    position: relative;
    width: 100%;
    height:38px;
}
.options-container {
    position: absolute;
    width: 100%;

    z-index: 10000;
}
.option {
    cursor: pointer;
}
.option-selected {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.upwards {
    transform: rotate(180deg);
}
