.layout-container {
    width: 100%;
    overflow: hidden;
}

.layout-container > div {
    display: block;
}

/**

*/
.add-block-divider-inner {
    visibility: hidden;
}

.add-block-divider:hover > .add-block-divider-inner {
    visibility: visible;
}

.margin-width {
    margin: auto;
    max-width: var(--size-default-margin);
    width: calc(100% - (var(--spacing-small) * 2)) !important;
}