<!-- [style.text-align]="alignment == alignmentValue.right ? 'right' : alignment == alignmentValue.center ? 'center' : 'left'" -->
<div
    id="container"
    (click)="emitBlockSelect(0, 'button', null)"
    (mouseover)="hoveringElement = 'button'; hoveringIndex = 0"
    (mouseout)="hoveringElement = null"
    [class.selectable]="hoveringElement == 'button' && hoveringIndex == 0 && isEditing == true"
    [style.borderRadius]="style?.border_radius ? style?.border_radius : ''"
    [style.text-align]="alignment == alignmentValue.center ? 'center'
                : alignment == alignmentValue.right ? 'right'
                : 'left'"
    [style.margin-top]="margin?.top ? margin?.top + 'px' : ''"
    [style.margin-bottom]="margin?.bottom ? margin?.bottom + 'px' : ''"
    [style.margin-left]="margin?.left ? margin?.left + 'px' : ''"
    [style.margin-right]="margin?.right ? margin?.right + 'px' : ''"
>
    <button
        *ngIf="title?.length > 0 && !isEditing"
        (click)="click()"
        (mouseover)="isHovering = true"
        (mouseleave)="isHovering = false"
        type="button"
        [ngStyle]="{ backgroundColor: backgroundColor() }"
        [style.borderColor]="borderColor().length == 0 ? 'var(--button-background-color)' : borderColor()"
        [style.color]="color()"
        [style.borderRadius]="style?.border_radius ? style.border_radius : ''"
        [style.padding-top]="padding?.top ? padding?.top + 'px' : ''"
        [style.padding-bottom]="padding?.bottom ? padding?.bottom + 'px' : ''"
        [style.padding-left]="padding?.left ? padding?.left + 'px' : ''"
        [style.padding-right]="padding?.right ? padding?.right + 'px' : ''"
        [style.width]="getWidth()"
    >
        {{ title }}
    </button>

    <div *ngIf="isEditing" 
        style="position: relative;"
        [style.text-align]="alignment == alignmentValue.center ? 'center'
        : alignment == alignmentValue.right ? 'right'
        : 'left'">
        <div *ngIf="isEditingValue" style="position: absolute; top: -26px; left: 0;">
            <div class="editing-textarea-tag">
                Button
            </div>
        </div>

        <input type="text" 
            *ngIf="isEditing"
            class="editing-input"
            [size]="title.length"
            [(ngModel)]="title" 
            (input)="title = $event.target.value"
            (focus)="isEditingValue = true;"
            (blur)="emitBlockSelect(0, 'button_text', $event.target.value); isEditingValue = false;"
            [ngStyle]="{ backgroundColor: backgroundColor() }"
            [style.borderColor]="borderColor().length == 0 ? 'var(--button-background-color)' : borderColor()"
            [style.borderWidth]="style?.fill_type == 'border' ? '1px' : ''"
            [style.color]="color()"
            [style.borderRadius]="style?.border_radius ? style.border_radius : ''"            
            [style.padding-top]="padding?.top ? padding?.top + 'px' : ''"
            [style.padding-bottom]="padding?.bottom ? padding?.bottom + 'px' : ''"
            [style.padding-left]="padding?.left ? padding?.left + 'px' : ''"
            [style.padding-right]="padding?.right ? padding?.right + 'px' : ''"
            [style.width]="getWidth()"
        />
    </div>
</div>
