#vid {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    color: white;
    overflow: hidden;
}

.initial-slideupfadein-state {
    transform: translate3d(0px, 150px, 0px);
    opacity: 0;
}
.initial-slideup-state {
    transform: translate3d(0px, 150px, 0px);
}
.initial-fadein-state {
    opacity: 0;
}

.slideUp {
    transition-duration: 1s;
    transform: translate3d(0px, 0px, 0px) !important;
    opacity: 1 !important;
}
.slideUpFadeIn {
    transition-duration: 1.5s;
    transform: translate3d(0px, 0px, 0px) !important;
    opacity: 1 !important;
}
.fadeIn {
    transition-duration: 1s;

    opacity: 1 !important;
}

#inner {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contents {
    width: 100%;
    padding: var(--spacing-xxLarge) var(--spacing-xxLarge);
}

#slider {
    position: absolute;
    /* bottom: var(--spacing-xSmall); */
    left: 0;
    width: 50%;
    transform: translateX(50%);
    text-align: center;
}

#slider > div {
    width: var(--spacing-medium);
    height: var(--spacing-xxSmall);
    background: white;
    display: inline-block;
    margin-right: var(--spacing-xSmall);
    opacity: 1;
    cursor: pointer;
}

.row-container {
    margin-left: 0;
    margin-right: 0;
}

.margin-width {
    margin: auto;
    max-width: var(--size-default-margin);
    width: calc(100% - (var(--spacing-small) * 2)) !important;
}

.vertical-align-top {
    align-items: flex-start;
}

.vertical-align-middle {
    align-items: center;
}

.vertical-align-bottom {
    align-items: flex-end;
}

.spacing-ms {
    height: var(--spacing-mediumSmall);
}

#container:hover  > .replace-button {
    display: block;
}

.replace-button {
    display: none;
    position: absolute; 
    right: 8px; 
    bottom: 8px;
}