textarea {
    background: transparent;
    border: 0;
    width: 100%;
    resize: none;
}

#container {
    width: 100%;
    background: var(--color-background);
    background-position: center;
    background-repeat: no-repeat !important;
    color: var(--color-foreground);
}
.initial-slideupfadein-state {
    transform: translate3d(0px, 150px, 0px);
    opacity: 0;
}
.initial-slideup-state {
    transform: translate3d(0px, 150px, 0px);
}
.initial-fadein-state {
    opacity: 0;
}

.slideUp {
    transition-duration: 1s;
    transform: translate3d(0px, 0px, 0px) !important;
    opacity: 1 !important;
}
.slideUpFadeIn {
    transition-duration: 1.5s;
    transform: translate3d(0px, 0px, 0px) !important;
    opacity: 1 !important;
}
.fadeIn {
    transition-duration: 2s;

    opacity: 1 !important;
}
.feature-container {
    /* padding: calc(var(--size-section-padding) / 2) var(--spacing-xxLarge); */
    align-items: center;
}

.full-width {
    padding: 0;
}

caption {
    display: inline;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.vertical-align-top {
    align-items: flex-start;
}

.vertical-align-middle {
    align-items: center;
}

.vertical-align-bottom {
    align-items: flex-end;
}

.left-align-inner {
    position: relative;
    padding: 0;
    text-align: left;
}

.right-align-inner {
    padding: 0;
    text-align: right;
}

.vertical-item-spacing {
    height: var(--spacing-mediumSmall);
}

.vertical-item-spacing-small {
    height: var(--spacing-small);
}

img {
    width: 100%;
    max-width: calc(100% - var(--spacing-mediumLarge));
    object-fit: cover;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.left-align-inner:hover  > .replace-button {
    display: block;
}

.replace-button {
    display: none;
    position: absolute; 
    right: 8px; 
    bottom: 8px;
}