.container-carousel {
    width: 100%;
    color: var(--color-foreground);
    background: var(--color-background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
}
.initial-slideupfadein-state {
    transform: translate3d(0px, 150px, 0px);
    opacity: 0;
}
.initial-slideup-state {
    transform: translate3d(0px, 150px, 0px);
}
.initial-fadein-state {
    opacity: 0;
}

.staggerSlideUp {
    transition-duration: 2s;
    transition-delay: calc(0.5s * var(--index));
    transform: translate3d(0px, 0px, 0px) !important;
}
.staggerSlideUpFadeIn {
    transition-duration: 2s;
    transition-delay: calc(0.5s * var(--index));
    transform: translate3d(0px, 0px, 0px) !important;
    opacity: 1 !important;
}
.staggerFadeIn {
    transition-duration: 2s;
    transition-delay: calc(0.5s * var(--index));
    opacity: 1 !important;
}

#inner-container {
    margin: auto;
    /* padding: calc(var(--size-section-padding) / 2) var(--spacing-xxLarge);*/
}

.margin-width {
    margin: auto;
    max-width: var(--size-default-margin);
    width: calc(100% - (var(--spacing-small) * 2)) !important;
}

.carousel-item-container {
    transition: 0.2s;
}

.carousel-container {
    overflow-x: scroll;
    white-space: nowrap;
}
.fade-in-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.5s;
}

.carousel-container > div {
    vertical-align: top;
    display: inline-block;
    position: relative;
}
.carousel-container:hover > div > div.fade-in-carousel {
    background-color: white;
    opacity: 0.7;
}
.carousel-container > div:hover > div.fade-in-carousel {
    opacity: 0;
    transition: 0.5s;
}
.carousel-container > div:hover .carousel-item-container {
    transform: scale(1.2);
}

h5 {
    white-space: pre-wrap;
}

p {
    white-space: pre-wrap;
}

.vertical-spacing-image {
    height: var(--spacing-mediumSmall);
}

.vertical-spacing-title {
    height: var(--spacing-small);
}

.col {
    padding-bottom: var(--spacing-mediumLarge);
}
