<div
    #animate
    id="container"
    (click)="emitBlockSelect(0, 'text')"
    (mouseover)="hoveringElement = 'text'; hoveringIndex = 0"
    (mouseout)="hoveringElement = null"
    [class.initial-slideup-state]="animation?.type == 'slideUp' ? true : false"
    [class.initial-slideupfadein-state]="
        animation?.type == 'slideUpFadeIn' ? true : false
    "
    [class.initial-fadein-state]="animation?.type == 'fadeIn' ? true : false"
    [class.selectable]="hoveringElement == 'text' && hoveringIndex == 0"
    [class.margin-width]="width == textWidthValue.margin"
    [style.backgroundColor]="
        style?.background_color ? style?.background_color : ''
    "
    [style.padding-top]="style?.padding?.top ? style?.padding?.top + 'px' : ''"
    [style.padding-bottom]="
        style?.padding?.bottom ? style?.padding?.bottom + 'px' : ''
    "
    [style.padding-left]="
        style?.padding?.left ? style?.padding?.left + 'px' : ''
    "
    [style.padding-right]="
        style?.padding?.right ? style?.padding?.right + 'px' : ''
    "
>
    <p
        #toggle
        [class.headline]="textType == textTypeValue.header"
        [class.body]="textType == textTypeValue.body"
        [style.color]="style?.text?.color ? style?.text?.color : ''"
        [style.font-family]="style?.text?.font ? style?.text?.font : ''"
        [style.font-size]="getFontSize()"
        [style.font-weight]="style?.text?.weight ? style?.text?.weight : ''"
        [style.line-height]="getLineHeight()"
        [style.text-align]="
            alignment == alignmentValue.right
                ? 'right'
                : alignment == alignmentValue.center
                ? 'center'
                : 'left'
        "
        [style.letter-spacing]="
            style?.text?.letter_spacing ? style?.text?.letter_spacing : ''
        "
    >
        {{ text }}
    </p>
</div>
